:root {
    --main-bg-color:rgb(37,37,37);
    --font-color-default:  rgb(198,198,198);
    --font-color-second: rgb(255,138,0);
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: black;
    background-repeat: no-repeat;
    color: var(--font-color-default);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100vh;  
}

a {
    text-decoration: none;
    z-index: 10;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}
h1, h2, h3, p, figure, img{
    z-index: 9;
}

section{
   padding: 7em 1em 5em 1em;
   width: 100%;
}

.site-header{
    align-items: center;
    background-color: var(--main-bg-color);
    /* box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.1); */
    display: flex;
    flex-direction: column;
    height: 6em;
    line-height: 2em;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
}
@media(min-width: 700px){
    .site-header{
        flex-direction: row;
        height: 3em;
    }
}

.site-header .site-logo{
    color: var(--font-color-second);
    flex: 2;
    font-family: 'Lobster', cursive;
    font-size: 2em;
    text-align: center;

}

.site-header .site-menu{
    flex: 2;
}

.site-menu .menu {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}

.site-menu .menu ul{
    display: flex;
    justify-content: center;
}

.site-menu .menu li{
    list-style: none;
    padding-left: 15px;
}
.site-menu .menu li a{
    color: var(--font-color-default);
}


.home{
    height: calc(100vh);
}

.box{
    /* background-color: var(--main-bg-color);
    border-radius: 2em; */
    height: 100%;
    position: relative;
}

section .arrow{
    font-size: 1.7em;
    color: var(--font-color-second);
    align-self: flex-end;
    transition: transform 500ms;

}

p {
    font-family: 'Source Code Pro', monospace;
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    text-align: justify;
}

.arrow:hover{
    transform: scale(1.1);
}

section .arrow-top{
    position: absolute;
}

.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 800px ){
    section{
        max-width: 800px;
    }
}

.home{
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    text-align: center;
}

.home img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 1s;
}

.home img:hover{
    transform: scale(1.2);
}


.home h1{
    color: var(--font-color-second);
    font-family: 'Lobster', cursive;
    font-size: 3em;
    /* margin-top: 20%; */
}

.conhecimentos,
.projetos,
.about{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}

.conhecimentos h1,
.projetos h1,
.about h1{
    color: var(--font-color-second);
    font-family: 'Source Code Pro', monospace;
    font-size: 1.6em;
    font-weight: 900;
    line-height: 2em;
} 

.projetos-content{
    display: block;
}

.projetos-content img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;

}

.projetos-content .right{
    float: right;
    margin-left: 10px;
}

.projetos-content .left{
    float: left;
    margin-right: 10px;
}

.conhecimento-content {
    display: grid;
    gap: 1em;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.conhecimento-content img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.footer{
    align-items: center;
    background-color: var(--main-bg-color);
    bottom: 0;
    display: grid;
    font-size: 2em;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 2em;
    height: 1.2em;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

.footer a{
    color: whitesmoke;
    transition: text-shadow 1s;
}
.footer a:active,
.footer a:hover{
    text-shadow: 0px 0px 10px rgb(255,255,255, 0.5);
    
}

canvas{
    position: fixed;
    top: 0;
    display:block;
    z-index: 0;
    opacity: 0.5;
  }

/* 
@media(min-width: 800px){
    body{
        font-size: 16px;
    }

    .wrapper{
        height: 100%;
        margin-left: calc(10vw);
        margin-right: calc(10vw);
        position: absolute;
        width: 80%;
    }

    .site-header{
        flex-direction: row;
    }

    .box-main{
        flex-direction: row;
    }
} */

/* https://alexfelipe.github.io/aboutme/#sobre-mim */